body {
  min-width: 200px;
  background: black;
}

h1 {
  color: red;
}

.watch-yellow {
  background: #FBE106;
}

.watch-white {
  background: #FFFFFF;
}



.watch-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  min-width: 200px;
  min-height: 150px;
  height: 300px;
}

.watch {
  border: solid 2px black;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 6px;
  border-top-right-radius: 0;
}

.watch-text {
  background: white;
  border: solid 1px black;
  padding: 0 1rem 0 1rem;
  font-size: xx-large;
  text-align: center;
}

.watch-mode-text {
  font-size: x-large;
  width: 172px;
}

.watch-text-temporary {
  color: rgba(0, 0, 0, 0.3);
}

.buttons {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  padding-right: 2px;
}



.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% { visibility: visible; }
  50%, 100% { visibility: hidden; }
}
